<script id="vocabulary-showInList" type="text/template">

							
              <div class="media-body">
                <h4 class="media-heading _tooltip" data-toggle="tooltip" data-placement="top" title="Click here to add/edit the words of the current vocabulary"><a href="/translations/vocabulary/<%= vocabulary.id %>"><%= vocabulary.title %></a></h4>
                <% if(vocabulary.source) { %><h5><%= vocabulary.source %></h5><% } %>
                <small>
                  created <strong><%= vocabulary.elapsedTime %></strong>
                  <% if(vocabulary.source) { %>
                  	<% if(!vocabulary.source_url) { %>
                  	for <strong><%= _.unescape(vocabulary.source) %></strong>
                  	<% } else { %>
                  	for <a href="http://<%= vocabulary.source_url %>" target="_blank"><%= _.unescape(vocabulary.source) %></a>
                  	<% } %> 
                  <% } %>

                  from user <a href="/vocabularies/user/<%= vocabulary.user_id %>"><%= vocabulary.user.get('name') %></a>, 

                  consists <strong><%= vocabulary.num_translations %></strong> Words 

                  and user has <strong><%= vocabulary.user.get('num_subscribes') %></strong> subscribers

                </small>

                <% if(vocabulary.is_published){ %>
                  <span class="label label-info _tooltip" title="Is published">
                    <span class="icon icon-globe icon-white"></span>
                  </span>
                <% } else { %>
                  <span class="label label-warning _tooltip"  title="Is not published">
                    <span class="icon icon-globe icon-white"></span>
                  </span>
                <% } %>
                
                <span class="label label-info"><%
                	var lang_1_title = langs.get(vocabulary.lang_1_id);
                  if( lang_1_title ) { 
                 		print(lang_1_title.get('title')); 

                 	}%></span>

                <span class="label label-info"><%
                	var lang_2_title = langs.get(vocabulary.lang_2_id);
                  if( lang_2_title ) { 
                 		print(lang_2_title.get('title')); 
                 	}%></span>

                <% 
                	if(vocabulary.labels) { 
                		var labels_array = vocabulary.labels.split(',')
                		labels_array.forEach(function( label ) {
                %>
                <span class="label"><%= label %></span>
                <% 
              			}); 
                	} 
                %>

                <ul class="nav nav-pills" style="text-align: center;">
                  <li><a href="#editvocabulary" class="edit" data-toggle="modal"><i class="icon-wrench"></i> Edit</a></li>
                  <li><a href="/translations/vocabulary/<%= vocabulary.id %>" class=""><i class="icon-edit"></i> Words</a></li> 
                  <li><a href="/exercise/<%= vocabulary.id %>" class=""><i class="icon-list-alt"></i> Exercises</a></li>
                  <li><a href="#"><i class="icon-bullhorn"></i> Notify</a></li> 
                  <li><a href="#" class="delete-confirm delete"><i class="icon-trash"></i> Delete</a></li>
                  <!--
                  <li class="dropdown dropup">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      More
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#"><i class="icon-globe"></i> Publish</a></li>
                    </ul>
                  </li>
                  -->
                </ul>
              </div>
					
</script>



<script id="vocabulary-library-showInList" type="text/template">

              
              <div class="media-body">
                <h4 class="media-heading"><a href="/exercise/<%= vocabulary.id %>"><%= _.unescape(vocabulary.title) %></a></h4>
                <% if(vocabulary.source) { %><h5><%= vocabulary.source %></h5><% } %>
                <small>
                  created <strong><%= vocabulary.elapsedTime %></strong>
                  <% if(vocabulary.source) { %>
                    <% if(!vocabulary.source_url) { %>
                    for <strong><%= _.unescape(vocabulary.source) %></strong>
                    <% } else { %>
                    for <a href="http://<%= vocabulary.source_url %>" target="_blank"><%= _.unescape(vocabulary.source) %></a>
                    <% } %> 
                  <% } %>

                  <% if(typeof vocabulary.user !== 'undefined'){ %>
                  from user <a href="/vocabularies/user/<%= vocabulary.user_id %>"><%= vocabulary.user.get('name') %></a>, 
                  <% } %>
                  
                  consists <strong><%= vocabulary.num_translations %></strong> Words 

                  and user has <strong><%= vocabulary.user.get('num_subscribes') %></strong> subscribers

                </small>


                <span class="label label-info"><%
                  var lang_1_title = langs.get(vocabulary.lang_1_id);
                  if( lang_1_title ) { 
                    print(lang_1_title.get('title')); 

                  }%></span>

                <span class="label label-info"><%
                  var lang_2_title = langs.get(vocabulary.lang_2_id);
                  if( lang_2_title ) { 
                    print(lang_2_title.get('title')); 
                  }%></span>

                <% 
                  if(vocabulary.labels) { 
                    var labels_array = vocabulary.labels.split(',')
                    labels_array.forEach(function( label ) {
                %>
                <span class="label"><%= label %></span>
                <% 
                    }); 
                  } 
                %>

                <hr style="margin:4px 0 1px; padding:1px 0 1px;">
                <div class="">
                  <a href="#" class="btn btn-mini btn-danger pull-right remove"><span class="icon icon-white icon-remove"></span> Remove</a>
                  <br clear="all"/>
                </div>
              </div>
          
</script>

<script id="vocabulary-info-right-column" type="text/template">
        <div class="well">
          <table width="100%" class="table table-striped table-condensed">
            
            <% if(vocabulary.source_url){ %>
            <tr>
              <th>Source:</th>
              <% if(vocabulary.source_url){ %>
              <td><span id="vocabularySource2"><a href="http://<%= vocabulary.source_url %>" target="_blank"><%= vocabulary.source %></a></span></td>
              <% }else{ %>
              <td><span id="vocabularySource2"><%= vocabulary.source_url %></span></td>
              <% } %>
            </tr>
            <% } %>
            <tr>
              <th>Langs:</th>
              <td>
                <span class="label label-info"><%
                  var lang_1_title = langs.get(vocabulary.lang_1_id);
                  if( lang_1_title ) { 
                    print(lang_1_title.get('title')); 

                  }%></span>

                <span class="label label-info"><%
                  var lang_2_title = langs.get(vocabulary.lang_2_id);
                  if( lang_2_title ) { 
                    print(lang_2_title.get('title')); 
                  }%></span>

              </td>
            </tr>
            <tr>
              <th>Words:</th>
              <td><span id="vocabularyNumTranslations"><%= translation_length %></span></td>
            </tr>
            <tr>
              <th>Labels:</th>
              <td>
                <% 
                  if(vocabulary.labels) { 
                    var labels_array = vocabulary.labels.split(',')
                    labels_array.forEach(function( label ) {
                %>
                <span class="label"><%= label %></span>
                <% 
                    }); 
                  } 
                %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <strong><a href="/exercise/<%= vocabulary.id %>"><span class="icon result icon-hand-right"></span> Go to exercise!</a></strong>
              </td>
            </tr>
            
          </table>
        </div>
</script>

<script id="vocabulary-edit" type="text/template">


        
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Edit</h3>
          </div>
          <div class="modal-body" >


            <div class="row-fluid">

            <!-- Form Name -->

              <div class="span6">
                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label" for="inputEditTitle">Title</label>
                  <div class="controls">
                    <input id="inputEditTitle" name="title" type="text" placeholder="title" class="span12"  value="<%= vocabulary.title.replace('"', '\"') %>">
                    
                  </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                  <label class="control-label" for="selecAddLang1">Your Study Language</label>
                  <div class="controls">
                    <select id="selecEditLang1" name="lang_1_id" class="span12" >
                      <option value="">Select</option>
                      <% langs.forEach(function( lang ) { %><option value="<%= lang.id %>" <% if(vocabulary.lang_1_id == lang.id) { %>selected=selected<% } %>><%= lang.get('title') %></option><% }); %>
                    </select>
                  </div>
                </div>

                <!-- Select Basic -->
                <div class="control-group">
                  <label class="control-label" for="selectAddLang2">Your native Language</label>
                  <div class="controls">
                    <select id="selectEditLang2" name="lang_2_id" class="span12" >
                      <option value="">Select</option>
                      <% langs.forEach(function( lang ) { %><option value="<%= lang.id %>" <% if(vocabulary.lang_2_id == lang.id) { %>selected=selected<% } %>><%= lang.get('title') %></option><% }); %>
                    </select>
                  </div>
                </div>

                <!-- Text input Labels-->
                <div class="control-group">
                  <label class="control-label" for="inputEditLabels">Labels</label>
                  <div class="controls">
                    <input id="inputEditLabels" name="labels" type="text"  class="span12"  value="<%= vocabulary.labels.replace('"', '\"') %>">
                    
                  </div>
                </div>

              </div>

              <div class="span1">
                <div style="border-left: 1px solid #e6e6e6; height: 350px; margin: 0 auto; width: 1px;"></div>
              </div>

              <div class="span5" >


                <!-- Multiple Radios (inline) -->
                <div class="control-group">
                  <label class="control-label" for="radios">Source Type</label>
                  <div class="controls" id="radioEditSourceType">
                    <label class="radio inline muted" for="type_idEdit-0">
                      <input type="radio" name="type_id" id="type_idEdit-0" name="source_type" data-info="0" value="0">
                      No Source
                    </label>
                    <label class="radio inline" for="type_idEdit-1">
                      <input type="radio" name="type_id" id="type_idEdit-1" value="1" name="source_type" data-info="1">
                      Book
                    </label>
                    <label class="radio inline" for="type_idEdit-2">
                      <input type="radio" name="type_id" id="type_idEdit-2" name="source_type" value="2" data-info="2">
                      Press
                    </label>
                    <label class="radio inline" for="type_idEdit-3">
                      <input type="radio" name="type_id" id="type_idEdit-3" name="source_type" value="3" data-info="3">
                      Website
                    </label>
                    <label class="radio inline" for="type_idEdit-4">
                      <input type="radio" name="type_id" id="type_idEdit-4" name="source_type" value="4" data-info="4">
                      Podcast
                    </label>
                    <label class="radio inline" for="type_idEdit-5">
                      <input type="radio" name="type_id" id="type_idEdit-5" name="source_type" value="5" data-info="5">
                      Video
                    </label>
                    
                  </div>
                </div>

                
                <div id="selection-info" >
                  <hr/>
                  <h4>Book</h4>
                  <p>Any <span class="text-info">book</span> which is published.<br/> The source url can be related with the infomation about the book.</p>
                </div>
                <div id="source_inputs">
                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="textEditSource">Source Title</label>
                      <div class="controls">
                        <input id="textEditSource" name="source" type="text" placeholder="source" class="span12" value="<%= vocabulary.source.replace('"', '\"') %>">
                        
                      </div>
                    </div>

                    <!-- Prepended text-->
                    <div class="control-group">
                      <label class="control-label" for="inputEditSourceUrl">Source Url</label>
                      <div class="controls">
                        <div class="input-prepend">
                          <span class="add-on">http://</span>
                          <input id="inputEditSourceUrl" name="source_url" class="span12" placeholder="source url" value="<%= _.unescape(vocabulary.source_url) %>" type="text">
                        </div>
                        <div id="editSourceUrl"><a href="http://<%= _.unescape(vocabulary.source_url).replace('http://', '') %>" target="_blank"><%= vocabulary.source_url.replace('http://', '') %></a></div>
                      </div>
                    </div>

                </div><!-- #source_inputs -->

                <div style="display:none;">

                  <div id="selection-0">
                    <h4>No source</h4>
                    <p>The current vocabulary is not related with any source.</p>
                  </div>

                  <div id="selection-1">
                    <h4>Book</h4>
                    <p>Any <span class="text-info">book</span> which is published.<br/> The source url can be related with the infomation about the book.</p>
                  </div>

                  <div id="selection-2">
                    <h4>Press</h4>
                    <p><span class="text-info">Newspapers, magazines etc.</span><br/> The source url can be related with the infomation about the podcast.</p>
                  </div>

                  <div id="selection-3">
                    <h4>Website</h4>
                    <p><span class="text-info">Blogs, web newspaper/magazines, portals etc.</span><br/> Of cource the source url will explicitly be the url of the website.</p>
                  </div>

                  <div id="selection-4">
                    <h4>Podcast</h4>
                    <p><span class="text-info">Music tracks, radio programs etc.</span><br/> The source url can be related with the lyrics or the transctipt or infomation about the podcast.</p>
                  </div>

                  <div id="selection-5">
                    <h4>Video</h4>
                    <p><span class="text-info">Video on web, movie, serie etc.</span><br/> The source url can be related with the information about the video or directly with url of the video.</p>
                  </div>

                </div>

              </div>



            </div>



          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input type="submit" class="btn btn-primary" value="Save changes"/>
          </div>
        
</script>

		

