<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="el">
<head>
    <title>{{ page_title }} - vocabulary.gr</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="title" content="vocabulary.gr - {{ page_title }}" >
    <meta name="keywords" content=", vocabulary, " >
    <meta name="description" content="vocabulary" >
    <meta name="robots" content="index, follow">
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" >
    
    <link href="/stylesheets/custom.css" type="text/css" rel="stylesheet" >
    <link href="/stylesheets/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" >


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42610630-1', 'vocabulary.gr');
      ga('send', 'pageview');

    </script>
