      <div class="sidebar-right pull-right">
        <div id="adv">
          <a href="http://bs.serving-sys.com/BurstingPipe/BannerRedirect.bs?cn=brd&amp;FlightID=6044560&amp;Page=&amp;sessionid=1795373374518630916&amp;PluID=0&amp;EyeblasterID=14141536&amp;Pos=41403292496452&amp;ord=[timestamp]" target="_blank"><img src="http://ds.serving-sys.com/BurstingRes///Site-35148/Type-0/4b968943-d282-47d6-971a-a9e705f0559e.jpg" width="300" height="250" title="" border="0"></a>
        </div>
        <br/><br/>
        
        <div id="vocabulary_info_column">
          
        </div>

        

      </div><!--/.sidebar-right-->