<% include _head %>
<% include _header %>
<% include _left_sidebar %>

      <div id="content" class="large">

        <div class="row-fluid">
          <div class="span12"><h3 style="text-align: center;"><img src="images/logo-small.png" style="margin: -23px -25px 0 0;"  />Vocabulary.gr helps you study foreign languages</h3>
            <div class="row-fluid">
              <div class="span6">
                        <div id="homeCarousel" class="carousel slide">
                          <ol class="carousel-indicators">
                            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#homeCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#homeCarousel" data-slide-to="2" class=""></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="item active">
                              <img src="images/1.png" alt="">
                              <div class="carousel-caption">
                                <h4>Create your vocabulary</h4>
                                <p>You can develop multiple vocabularies which will consist your library.</p>
                              </div>
                            </div>
                            <div class="item">
                              <img src="images/1.png" alt="">
                              <div class="carousel-caption">
                                <h4><a href="#">Practice and learn new words and phrases</a></h4>
                                <p><a href="#">For each vocabulary you can practice through exercises</a></p>
                              </div>
                            </div>
                            <div class="item">
                              <img src="images/2.png" alt="">
                              <div class="carousel-caption">
                                <h4>Share your vocabulary to others</h4>
                                <p>You may publish your vocabularies and add vocabularies from other users to your library </p>
                              </div>
                            </div>
                          </div>
                          <a class="left carousel-control" href="#homeCarousel" data-slide="prev">‹</a>
                          <a class="right carousel-control" href="#homeCarousel" data-slide="next">›</a>
                        </div>
              </div>
            <% if(!userLastActivities.length) { %>
              <div class="span6 well">
                      <h2 class="form-signup-heading">Sign up</h2>
                      <h5>It’s free and always will be.</h5>
                      <form id="form-signup-individual" class="form-signup-individual" autocomplete="off" method="post" action="/users" />
                        <div>
                          <input type="text" id="signUpemail" name="signUpemail" class="input-block-level" placeholder="Email address" >
                        </div>
                        <input type="password" id="signUppassword" name="signUppassword" class="input-block-level" placeholder="Password" >
                        <input type="password" id="signUppassword2" name="signUppassword2" class="input-block-level" placeholder="Confirm Password"  >
                        <select class="input-block-level" id="signUpLanguage" name="signUpLanguage" >
                          <option value="">Select your native Language</option>
                          {% if (langs.length) %}
                          {% for lang in langs %}
                          <option value="{{ lang.id }}">{{ lang.title }}</option>
                          {% endfor %}
                          {% endif %}
                        </select>
                        <button class="btn btn-large btn-primary" type="submit">Sign Up</button>
                        <label class="checkbox inline" style="margin:0 0 0 30px; width: 150px;">
                            <input type="checkbox" name="agree" value="1"> I agree to the <br/><a href="termsandconditions">Terms & Conditions</a>.
                        </label>
                      </form>
              </div>
              <% } else { %>
              <div class="span6 well">
                <ul class="nav nav-list">
                  <li class="nav-header">Last Activities</li>
              <% userLastActivities.forEach(function(userActivity){ %>
                  <li><%- userActivity.html %></li>
              <% }); %>
                </ul>       
              </div>
            <% } %>
            </div>
          </div>   
          <!-- <iframe width="770" height="433" src="http://www.youtube.com/embed/M-sc73Y-zQA" frameborder="0" allowfullscreen></iframe> -->
        </div>
      </div><!--/row-->
      <div class="clearfix"></div>
<% include _footer %>
  <script>
    window.is_logged = <% if(is_logged){ %>1;<% }else{ %>0;<% } %>
  </script>  
  <script src="js/lib/require.js"></script>
  <script src="js/home.js"></script>
<% include _bottom %>
