{% include '_head.html' %}
{% include '_header.html' %}
{% include '_left_sidebar.html' %}
{% include '_right_sidebar.html' %}

      <div id="content">
        <div class="well">
          <h3>Thank you</h3>
            <div class="alert alert-success">
              <strong>Well done!</strong> You successfully sign up
            </div>
            Check your email inbox in order to verify your account of vocabulary.gr
        </div> 
      </div><!--/#content-->
      <div class="clearfix"></div>
      
{% include '_footer.html' %}
  <script src="js/lib/require.js"></script>
  <script src="js/home.js"></script>
{% include '_bottom.html' %}
