{% include '_head.html' %}
{% include '_header.html' %}
{% include '_left_sidebar.html' %}
{% include '_right_sidebar.html' %}
      <div id="content">
        <div class="well">
            <h3>Forgot Your Password?</h3>
            
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Success!</h4>
              vocabulary.gr reminds your password! Check your email inbox.        
            </div>
            <center><a href="/login">Now you can log in</a></center>
        </div> 
      </div><!--/#content-->
      <div class="clearfix"></div>
{% include '_footer.html' %}
    
  <script src="js/lib/require.js"></script>
  <script src="js/home.js"></script>
{% include '_bottom.html' %}
